### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# IntelliJ project files
.idea
*.iml
out
gen
### Gradle template
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Project exclude paths
/bots
/config
/data
/plugin*
/logs
/java
/mcl*
/config.json
/libs
/*.db
