<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{35}\t: %message%n</Pattern>
		</encoder>
		<withJansi>false</withJansi>
	</appender>
	<appender name="DailyFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{35}\t: %message%n</pattern>
		</encoder>
		<immediateFlush>true</immediateFlush>
		<!-- 设置滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--设置日志命名模式-->
			<fileNamePattern>./logs/%d{yyyy-MM-dd}.log</fileNamePattern>
			<!--最多保留30天log-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

	</appender>
	<!-- TRACE < DEBUG < INFO < WARN < ERROR  -->
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="DailyFile"/>
	</root>
	<!--    <logger name="com.chanshuyi" level="TRACE"/>-->
</configuration>